@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*----------------- Background Colours */
/*#DCE3E3 #ACD9CE #B8BFB8 #55A3AF #3B5B66*/

.bg-color-title {
    background-color: #DCE3E3;
}

.bg-color-footer {
    background-color: #3B5B66;
}


/*---------------- Special Formatting */

.uppercase {
    text-transform:uppercase;
}

h1,h2,h3,h4,h5 {
    margin:0;
}

.info-section {
    border: solid #55A3AF;
    border-width: 2px 0 2px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    min-height: 100vh;
}

.row {
    margin: 0;
}

.sidebar {
     position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

body {
    position:relative;
}


/*----------------- Title Formatting */

#title-section {

    letter-spacing: 1.5px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #3b5b66;
}

.header {
    margin:0;
}

/*----------------- Navigation Formatting */

a {
    display:block;
    width:100%;
    height:100%;
}

nav > ul > li > a {
    height:70px;
    height:100%;
    text-decoration: none;
}


/*----------------- Introduction */


#introduction-section ul {
    margin-top:10px;
}

/*----------------- Plasma */



/*----------------- Block-Diagram */
.block-diagram {
    text-align: center;
}

/*----------------- Maintenance */


/*----------------- Media Queries */
