@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*----------------- Background Colours */

.bg-color-title {
    background-color: #DCE3E3;
}


/*---------------- Special Formatting */

.uppercase {
    text-transform:uppercase;
}

h1,h2,h3,h4,h5 {
    margin:0;
}

.info-section {
    border: solid #55A3AF;
    border-width: 2px 0 2px 0;
    font-family: 'Rubik', sans-serif;
    font-size:18px;
}

.row {
    padding-left:15px;
    padding-right:15px;
}

/*----------------- Title Formatting */

#title-section {
    padding-top: 60px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.header {
    margin:0;
}

/*----------------- Navigation Formatting */

a {
    display:block;
}

/*----------------- Introduction */


#introduction-section ul {
    margin-top:10px;
}

/*----------------- Plasma */



/*----------------- Block-Diagram */
.block-diagram {
    text-align: center;
}

/*----------------- Interferences */

/*----------------- Maintenance */


/*----------------- Media Queries */
